/*-------sabai default css for the rest of the index-----------*/
* {
    
    padding:0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}

li{
    
    list-style: none;
    display: inline-block
}

a {
    
    text-decoration: none;
    transition: all 500ms ease-in-out;
}

a:hover,
a:active {
    
        text-decoration: none;
}

h1,
h2,
h4 {
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 21px;
}

.btn {
    
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover {
     
    background-color:  #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}


/*---------------- NAVIGATION ------------------*/


.navbar {
    
    background-color: #222222 !important;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', Arial, sans-serif;
/*    font-weight: 700;*/
}

.navbar a {
    
    color: #fff !important;
/*    opacity: 0.7;*/
}


.navbar a:hover {
    
    color: red !important;
    opacity: 1;
    background-color: #111111 !important;
}


/*-----------------text before listing--------------------*/

.search_l {
    background-image:url(../images/search_bgk.jpg);
    padding: 30px 0 30px;
    text-align: center;
}

.search_l p {
    
    padding-bottom: 30px;
/*    color: #737373;*/
    color: dimgray;
}

.search_l h2 {
    
    color: #4c4c4c;
    margin: 40px 0 20px;
}

.search_l i {
    
    padding: 5px;
    font-size: 50px;
    border-radius: 50px;
    color: pink;
}


/*-----------------End text before listing-----------------*/


/*---------Hostel ko list haru----------------------------*/

.hostel_ko_list .border{
/*    width: 400px;*/
    margin-top: 20px;
/*    margin-bottom: 5px;*/
/*    margin-left: 40px;*/
/*    border-radius: 5px;*/
    border-color:whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hostel_ko_list h3{
    text-align: center;
    color: grey;
    font-weight: bold;
}

.hostel_ko_list p{
    margin-top: 1px;
    color: darkgray;
    text-align: center;
    margin-top: 10px;
}
.hostel_ko_list{
    border: 20px;
}
.hostel_ko_list .eta{
    float: left;
    padding-left: 30px;

}
.hostel_ko_list i{
    font-size: 20px;
    padding: 5px;
    color: dimgrey;

}

.hostel_ko_list .uta{
/*    float: right;*/
    margin-left: 30px;
}

.id3h, .id4h, .id5h, .id6h, .id7h, .id8h, .id9h, .id10h, .id11h, .id12h, .id13h, .id13h, .id14h{
    width: 100%;
    height: 240px;
/*    padding: 0,0,0px;*/
/*    margin-top: 0px;*/
    margin-bottom: 10px;
/*    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
/*-----------End Hostel ko list haru---------------------------*/



/*---------------- FOOTER -----------------------*/

.footer {
    margin-top: 20px;
    padding: 40px;
    color: #cccccc;
    background-color: #222222;
}
.footer h4{
        color: red;


}

.footer .social {
    
    font-size: 20px;
    height: 30px;
    width: 30px;
    text-align: center;
    padding: 5px;
/*    border: 1px solid #cccccc;*/
    margin-bottom: 10px;
    color: red;
    margin-right: 5px;
}


.footer input {
    
    height: 40px;
    width: 220px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn {
    text-align: center;
    background-color: red;
    height: 40px;
    padding: 10px 5px 10px;
    margin: -3px 0 0 5px;
    color:white;
}